@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Font family used*/
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif;  */



/* body styling */

body {
    background: #b3b3de;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;  
}

.fix-body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body,
html {
    overflow-x: hidden;
}


/* header styling starts */
.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
    border-bottom: 1px solid transparent;
    background-color: rgb(217, 101, 217);
}


/* .site-header.sticky_head {
    background: rgb(255 255 255 / 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
} */

/* Restaurant logo */
img {
    max-width: 100%;
}

/* main navigation div styling */
.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

/* nav list element styling */
.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    font-size: 20px;
}

.main-navigation .menu li:first-child {
    margin-left: 0;
}

.main-navigation .menu li:last-child {
    margin-right: 0;
}

.main-navigation .menu li:hover>ul,
.main-navigation .menu li.focus>ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}

/* a tags within the nav tag styling */
a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover>ul,
.main-navigation .menu li.focus>ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover,
.main-navigation .menu li .active-menu,
.main-navigation .menu .sub-menu li .active-sub-menu {
    color: #247286;
    background: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

/* Search div styling */
.header-right {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 12px;
}

.header-search-form {
    position: relative;
    padding-left: 5px;
}

.for-des {
    display: block !important;
   
}

.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}

.header-search-form .form-input {
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    /* -webkit-appearance: none; */
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}



* {
    -webkit-tap-highlight-color: transparent;
}



.fa-times {
    transform: rotate(180deg);
}

#menu-bar {
    display: none;
    font-size: 30px;
}


/* media queries */
@media (max-width: 1080px) {
    .main-navigation .menu li a {
        font-weight: 450;
        padding: 5px 9px;
    }
    .header-right {
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 12px;
    }
}

@media (max-width: 995px) {
    #header-logo {
        width: 20%;
        text-align: center;
    }


    .main-navigation .menu li a {
        font-weight: 400;
        padding: 4px 7px;
        font-size: 17px;
    }

    #navbar {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 790px) {
    #header-logo {
        width: 20%;
        text-align: center;
    }


    .main-navigation .menu li a {
        font-weight: 400;
        padding: 4px 7px;
        font-size: 15px;
    }

    #navbar {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .header-search-form .form-input {
        font-size: 10px;
        padding-right: 40px;
        width: 100px;
        height: 30px;
    }

    h1.h1-title{
        font-size: 50px;
    }
}

@media (max-width: 575.98px) {
    #header-logo {
        width: 100%;
        text-align: center;
    }

    .main-navigation {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    .header-menu {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        position: absolute;
        right: 0;
        top: 80%;
        border-top: 1px solid #fff3;
        background-color: #514d55;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header-menu.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .main-navigation .menu li {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
    }

    #menu-bar {
        display: flex;
        justify-self: flex-end;
        align-self: start;
    }

    .header-right {
        display: flex;
        justify-self: flex-end;
        align-self: start;
        margin-right: 5px;
    }

    .header-search-form .form-input {
        font-size: 10px;
        padding-right: 40px;
        width: 100px;
        height: 30px;
    }

    .h1-title{
        font-size: 40px;
        line-height: 40px;
    }
}











.main-banner {
    padding: 200px 0 300px;
    min-height: 100vh;
    position: relative;
}

.js-parallax-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-img-wp {
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-image: url("images/bgimg.jpg");
    background-size: cover;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
}

@keyframes biani {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}

.banner-img-text .h5-title {
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.banner-img-text {
    max-width: 400px;
}

.banner-shape-1 img {
    position: absolute;
    left: 85%;
    top: 60px;
    max-width: 150px;
    pointer-events: none;
    filter: blur(3px);
}

.banner-shape-2 {
    top: auto !important;
    bottom: 0;
}

.banner-shape-2 img {
    position: absolute;
    bottom: 0;
    right: 82% !important;
    max-width: 410px;
    pointer-events: none;
    filter: blur(3px);
}

.sec-wp {
    position: relative;
    z-index: 4;
}

.h1-title {
    font-size: 80px;
    line-height: 100px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 700;
}

.h1-title span {
    color: #ff8243;
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
}

.banner-text p{
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #0d0d25;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.sec-btn {
    min-width: 120px;
    min-height: 58px;
    background: #f3f3f5;
    box-shadow: 2px 2px 4px #b2b2b3, -2px -2px 4px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    outline: none !important;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    }

.sec-btn:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}




























































































/* footer styling */



.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.top-footer, .bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-info .social-icon {
    margin-top: 20px;
}

.footer-flex-box {
    display: flex;
    margin: 0 -10px;
}

.footer-flex-box>div {
    flex: 1;
    padding: 0 10px;
}

.footer-flex-box .h3-title {
    text-transform: capitalize;
    margin-bottom: 23px;
}

.footer-menu ul li a {
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize;
}

.footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
    color: #ff8243;
}

.footer-menu ul li {
    margin-bottom: 8px;
}

.footer-table-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.fa-clock {
    font-size: 17px;
}
















































/* order page stying */




.order {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 400px;
    position: relative;
   
    /* height: 100vh; */
    /* width: 100%; */
  }
  .order-close{
    position: relative;
    top: 100px;
  }

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ff6e00;
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    /* margin: 10px; */
    margin-top: 3rem;
    position: relative;
    transition: width 1.5s;
  }
  
  .inputval {
    margin: 10px 50px;
    margin-left: 20px;
    width: 100%;
    color: #ff6e00;
    border: none;
    background: transparent;
    outline: none;
    transition-delay: 0.5s;
  }
  
  .magnifier {
    position: absolute;
    right: 15px;
    width: 25px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    color: #ff6e00;
  }
  
  .period li {
    display: inline;
    margin-left: 40px;
    font-family: sans-serif;
  }
  
  .container_ {
    width: 50rem;
    padding: 5rem;
    box-shadow:10px 10px 40px 5px #e0e0e0;
    margin-top: 1.5rem;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content-container {
    width: 70%;
  }
  
  .content-container h1 {
    font-family: sans-serif;
    font-size: 2rem;
    color: #2c2c2c;
  }
  
  .content-container p {
    font-family: sans-serif;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: black;
    width: 18rem;
  }
  
  .food-img {
    transform: translateX(-120px);
    margin-top: 1rem;
    width: 350px;
    height: 350px;
    border-radius: 300px;
    background: url("https://images.unsplash.com/photo-1600289031464-74d374b64991?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .ingredients {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 50px;
  }
  
  .ingredients span {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .ing {
    padding: 10px 20px;
    border: 2px solid #ff6e00;
    color: #ff6e00;
    font-family: sans-serif;
    border-radius: 100px;
  }
  
  .main-btn {
    border: 1px solid #ff6e00;
    padding: 5px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: black;
  }
  
  .info {
    text-align: justify;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif; 
  }








































  /* About page main area styling */
  .about-section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.sec-sub-title {
    text-transform: uppercase;
    display: inline-block;
    background: #f3f3f5;
    box-shadow: 2px 2px 5px #e4e4e4;
    padding: 3px 20px;
    border-radius: 60px;
    color: #ff8243;
    font-size: 14px;
}

.h2-title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}

.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
    display: block;
}

.about-video-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(36 39 37 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/aboutus.jpg");
}

.play-btn {
    width: 90px;
    height: 90px;
    background: #f3f3f5;
    box-shadow: 2px 2px 4px #b2b2b3, -2px -2px 4px #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    padding-left: 4px;
    padding-top: 4px;
    font-size: 40px;
}

.play-btn:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.play-btn-wp {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-wp span {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #6d0b0b;
}

 /* about page main area media queries */
@media (max-width: 595px){
    .h2-title{
        font-size: 28px;
        line-height: 33px;
    }
}

@media (max-width: 790px){
    .h2-title{
        font-size: 31px;
        line-height: 36px;
    }
}





/* Food-menu section styling starts */



#food-menu {
    background-image: url("images/menu-pictures/menu-background.png");
    padding-top: 50px;
    padding-bottom: 50px;
}


.repeat-img {
    background-size: contain;
    background-repeat: repeat;
}

.menu-tab-wp {
    margin-bottom: 80px;
}

.menu-tab ul {
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
    position: relative;
    z-index: 2;
}

.menu-tab ul li, .menu-tab ul .filter-active {
    display: inline-flex;
    text-transform: capitalize;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.filter-active {
    position: absolute;
    left: 0;
    top: 12px;
    min-height: 50px;
    z-index: -1;
}

.menu-tab ul li img {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.menu-tab ul .filter-active {
    color: #ffffff;
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}

.menu-list-row .bydefault_show .dish-box-wp {
    display: inline-block !important;
}

.dish-box-wp {
    display: none;
}

.dish-box {
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.dish-box:hover {
    transform: scale(1.03);
}

.dist-img {
    margin-top: -130px;
    margin-bottom: 30px;
}

.dist-img img {
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.dish-rating {
    font-size: 20px;
    margin-bottom: 15px;
}

.dish-title {
    padding: 0 30px;
}

.dish-title .h3-title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #0d0d25;
    transition: 0.3s;
    min-height: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
}

.dish-title p {
    color: #bfbfbf;
}

.dish-info ul, .dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.dish-info ul li {
    display: inline-block;
    flex: 1;
}

.dish-info ul li:last-child {
    text-align: right;
    border-left: 2px solid rgb(204 204 204 / 30%);
}

.dist-bottom-row ul li:last-child {
    text-align: right;
}

.dish-info ul li p {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 2px;
    font-weight: 300;
}

.dish-info ul li b {
    font-weight: 600;
}

.dish-info, .dist-bottom-row {
    padding: 0 30px;
}

.dish-info {
    border-bottom: 2px solid rgb(204 204 204 / 30%);
    margin: 30px 0 30px;
    padding-bottom: 30px;
}

.dist-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dist-bottom-row ul li b {
    font-size: 30px;
}

.dish-order-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 2px;
    color: #ffffff;
    transition: 0.3s; 
    height: 60px;
    
}

.order-btn{
    /* align-self: center; */
    /* padding: 5px 7px; */
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 7px;
    font-weight: bold;
}


 /* Food-menu section styling ends */ 






