@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Font family used*/
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif;  */



/* body styling */
body {
    background: #b3b3de;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: auto;
    left: auto;
    text-rendering: optimizeLegibility !important;
}

body,
html {
    overflow-x: hidden;
}


/* header styling starts */
.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.4s;
    border-bottom: 1px solid transparent;
}


/* .site-header.sticky_head {
    background: rgb(255 255 255 / 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
} */

/* Restaurant logo */
img {
    max-width: 100%;
}

/* main navigation div styling */
.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

/* nav list element styling */
.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    font-size: 20px;
}

.main-navigation .menu li:first-child {
    margin-left: 0;
}

.main-navigation .menu li:last-child {
    margin-right: 0;
}

.main-navigation .menu li:hover>ul,
.main-navigation .menu li.focus>ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}

/* a tags within the nav tag styling */
a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover>ul,
.main-navigation .menu li.focus>ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover,
.main-navigation .menu li .active-menu,
.main-navigation .menu .sub-menu li .active-sub-menu {
    color: #247286;
    background: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

/* Search div styling */
.header-right {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-search-form {
    position: relative;
}

.for-des {
    display: block !important;
}

.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}

.header-search-form .form-input {
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    /* -webkit-appearance: none; */
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}



* {
    -webkit-tap-highlight-color: transparent;
}



.fa-times {
    transform: rotate(180deg);
}

#menu-bar {
    display: none;
    font-size: 30px;
}


@media (max-width: 1080px) {
    .main-navigation .menu li a {
        font-weight: 450;
        padding: 5px 9px;
    }
}

@media (max-width: 995px) {
    #header-logo {
        width: 100%;
        text-align: center;
    }

    .main-navigation {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #navbar {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

}

@media (max-width: 790px) {
    #header-logo {
        width: 100%;
        text-align: center;
    }

    .main-navigation {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }

    .header-menu {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        position: absolute;
        right: 0;
        top: 80%;
        border-top: 1px solid #fff3;
        background-color: #514d55;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header-menu.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .main-navigation .menu li {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
    }

    #menu-bar {
        display: flex;
        justify-self: flex-end;
        align-self: start;
    }

    .header-right {
        display: flex;
        justify-self: flex-end;
        align-self: start;
        margin-right: 5px;
    }

    .header-search-form .form-input {
        font-size: 10px;
        padding-right: 40px;
        width: 100px;
        height: 30px;
    }




}

